@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
} */

@layer components {
  .input {
    @apply rounded-custom border border-gray-300 bg-white px-4 py-2 shadow-custom transition hover:border-gray-400 focus:border-primary focus:outline-none;
  }
}

.progress-bar::-webkit-progress-value {
  background-color: #4489c5; /* Use the primary color value */
}

.progress-bar::-moz-progress-bar {
  background-color: #4489c5; /* Use the primary color value */
}

.progress-bar::-ms-fill {
  background-color: #4489c5; /* Use the primary color value */
}
